@import url('./dark.css');
@import url('./light.css');

@import 'tailwindcss';

body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-tertiary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
